<section class="about">

<a href="#popup" class="link">Попап 1</a>

    <p>tradition and love</p>
    <h2>how it’s made?</h2>

    <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">

                            <!-- <button class="popup__close" type="button" data-modal-close>
                                <svg class="popup__icon" aria-label="Закрыть окно" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-close"></use>
                                </svg>
                            </button> -->
                
                <a href="#" class="popup__close"> X </a>

                <div class="popup__title">Модальное окно 1</div>
                <div class="popup__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur officia facere atque voluptatem at excepturi unde quos, aliquid voluptatibus dicta reiciendis ullam saepe. Maiores molestias corrupti optio laboriosam nemo libero.</div>
            </div>
        </div>

    </div>

</section>